<div>
    <ul class="list-group">
        <li class="list-group-item">Argumentos de entrada: {{processInfo.entryArgs}}</li>
        <li class="list-group-item">Sistema operativo: {{processInfo.operatingSistem}}</li>
        <li class="list-group-item">Version de nodeJS: {{processInfo.nodeVersion}}</li>
        <li class="list-group-item">Memoria total reservada: {{processInfo.memoryUsage}}</li>
        <li class="list-group-item">Ruta de ejecucion: {{processInfo.directory}}</li>
        <li class="list-group-item">Process id: {{processInfo.processId}}</li>
        
    </ul>
</div>